/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/.junit/*.xml
/.idea/
/.chef/
/local-mode-cache/
/nodes/
/.vagrant/
/Berksfile.lock
/vendor/
/coverage/
/coverage.zip
/test/config/local.yml
